#root {
text-align: center;


}
#img {
  max-width: 300px;
  max-height: auto;
  transform: rotate(90deg);
}
.input {
  height: 25px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 285px;


}

h1 {
  margin-top: 0px;
  margin-bottom: 5px;
}
#submit {
  height: 50px;
  width: 300px;
  margin-bottom: 20px;
}
#form {
min-width: 320px;}

@media screen and (max-width: 375px){
  #img {
  max-width: 300px;
  max-height: auto;
  transform: rotate(90deg);
  margin-bottom: -80px;
  margin-top: -50px;
}
}