:root {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;


}
#root {
  height: 100vh;
  width: auto;
  display: flex;
}

#homeMainContent{
  width: 100vw;
  min-width: 725px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 15px;
  margin: 15px;

    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);

}


#forumSearch {
  width: 40%;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  border-color: transparent;
}
#forumSearchDiv {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
}
#centerSearch {
  flex-grow: 1;
}


#forumGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 12px;

  max-height: calc(100vh - 85px);
  overflow-y: auto;
}


#createMainDiv {
  width: 100vw;
  min-width: 725px;
  background-color: rgba(61, 61, 61, 0.295);
  border-radius: 15px;
  margin: 15px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);

  }


#createForum {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: none;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
}

#AccountMainDiv {
  width: 100vw;
  min-width: 725px;
  background-color: rgba(151, 151, 151, 0.295);
  border-radius: 15px;
  margin: 10px;

  }
#profilePicture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(246, 51, 63);
}
#accountHeader {
  
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
