:root {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;


}
#root {
  height: 100vh;
  width: auto;
  display: flex;
}
#homeNav {
width: 100vw;
max-width: 375px;
min-width: 275px;
background-color: rgb(246, 51, 63);
color: black;
border-radius: 15px;
margin: 10px;
}
#homeMainContent{
  width: 100vw;
  min-width: 725px;
  background-color: rgba(61, 61, 61, 0.295);
  border-radius: 15px;
  margin: 10px;
}

nav {
  display: flex;
  flex-direction: column;
}
#navLink{
  padding: 15px;
  margin: 20px;
  text-decoration: none;
  color: black;
  border-radius: 8px;
  background-color: rgba(211, 211, 211, 0.856);
  transition: all ease-in-out 0.3s;
}
#navLink:hover {
   background-color: black;
   color: white;
   transform: scale(0.95);
  

}

#forumSearch {
  width: 40%;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  border-color: transparent;
}
#navLogo {
  rotate: 90deg;
  max-width: 30px;
}
#navImageDiv {
  background-color: rgb(0, 0, 0);
  text-align: center;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;


}

#forumGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 12px;

  /* cap by viewport; tweak the subtraction to account for your header/search/margins */
  max-height: calc(100vh - 85px);
  overflow-y: auto;
}
