#messagesMainContent{
  width: 100vw;
  min-width: 725px;
  background-color: rgba(85, 85, 85, 0);
  border-radius: 15px;
  margin: 15px;

    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
backdrop-filter: blur(0.5px);
-webkit-backdrop-filter: blur(0.9px);
border: 1px solid rgba(255, 255, 255, 0.11);


}
#messagesSearch {
  width: 40%;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  border-color: transparent;
}